/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ol, ul{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



a {
  color: var(--text-color);
  text-decoration: none; /* no underline */
}

:root{
    /* ===== Colors ===== */
    --primary-color: #648eff;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #fff;
    
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

body{
    min-height: 100vh;
    background-color: var(--primary-color);
}
body.dark{
    --primary-color: #3A3B3C;
    --panel-color: #242526;
    --text-color: #CCC;
    --black-light-color: #CCC;
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #3A3B3C;
    --box2-color: #3A3B3C;
    --box3-color: #3A3B3C;
    --title-icon-color: #CCC;
}
/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: rgb(100, 142, 255, 0.33);
    border-radius: 12px;
    transition: all 0.3s ease;
    opacity: .5;
}

::-webkit-scrollbar-thumb:hover {
    background: #0b3cc1;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover{
    background: #3A3B3C;
}

.sidebar-nav    {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}
.sidebar-nav.close{
    width: 73px;
}
.sidebar-nav .logo-name{
    display: flex;
    align-items: center;
}
.sidebar-nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;
}
.sidebar-nav .logo-image img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.sidebar-nav .logo-name .logo_name{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}
.sidebar-nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}
.sidebar-nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-items li{
    list-style: none;
}
.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}
.nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
body.dark li a:hover:before{
    background-color: var(--text-color);
}
.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}
.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);    
    transition: var(--tran-05);
}
.sidebar-nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--primary-color);
}
body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name{
    color: var(--text-color);
}
.menu-items .logout-mode{
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}
.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.menu-items .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}
.switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}
body.dark .switch:before{
    left: 20px;
}

.dashboard{
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
    padding-bottom: 20px;
}
.sidebar-nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
}
.sidebar-nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}
.dash-content .boxes .box {
    cursor: pointer;
    transition: transform var(--tran-05);
}

.dash-content .boxes .box:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.dashboard .top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}
.dashboard .top .search-box{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}
.top .search-box input{
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}
.top .search-box i{
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
}

/*start of dropdown menu*/
.top .profile-dropdown img {
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    object-fit: cover;
    border-radius: 50%;
}
.profile-dropdown {
    position: relative;
    display: inline-block;
}

.profile-dropdown .dropdown-content {
    display: none;
    position: absolute;
    top: 45px; /* Adjust this value as needed */
    right: 0;
    background-color: #87C4FF;
    min-width: 160px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1;
    border: 1px solid #ddd;
}

/* Style for the dropdown links */
.profile-dropdown .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.profile-dropdown:hover .dropdown-content {
    display: block;
}

.profile-dropdown .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.profile-dropdown .dropdown-content a:hover {
    background-color: #E0F4FF;
    border-radius: 5px;
}
/*end of dropdown menu*/

/*start of table*/
.product-table {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

thead th {
    background-color: var(--primary-color);
    color: #fff;
    font-weight: bold;
}

tbody td, thead th {
    padding: 10px;
    text-align: left;
    border: 1px solid var(--border-color);
}

body.dark tbody td {
    /* Adjust text color for table cells in dark mode */
    color: #CCC;
}
/*end of table*/

/*add and view product*/
.add-product-box {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.add-product-btn {
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 10px; 
    transition: background-color 0.3s ease; 
}

.add-product-btn i {
    margin-right: 8px;
}

.add-product-btn.add-btn {
    background-color: #65B741; 
}

.add-product-btn.add-btn:hover {
    background-color: #107a19; 
}

.add-product-btn.view-btn {
    background-color: #4DA3FF; 
}

.add-product-btn.view-btn:hover {
    background-color: #3081D0; 
}
body.dark .add-product-btn.add-btn {
    background-color: #3A3B3C; /* Change the dark mode color as needed */
}

body.dark .add-product-btn.add-btn:hover {
    background-color: #161A30; /* Change the dark mode hover color as needed */
}

body.dark .add-product-btn.view-btn {
    background-color: #3A3B3C; /* Change the dark mode color as needed */
}

body.dark .add-product-btn.view-btn:hover {
    background-color: #161A30; /* Change the dark mode hover color as needed */
}

/*end*/

.dashboard .dash-content{
    padding-top: 50px;
}
.dash-content .title{
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
}
.dash-content .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.dash-content .title .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}
.dash-content .boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dash-content .boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: calc(100% / 3 - 15px);
    padding: 15px 20px;
    background-color: var(--box1-color);
    transition: var(--tran-05);
}
.boxes .box i{
    font-size: 35px;
    color: var(--text-color);
}
.boxes .box .text{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}
.boxes .box .number{
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
}
.boxes .box.box2{
    background-color: var(--box2-color);
}
.boxes .box.box3{
    background-color: var(--box3-color);
}
.dash-content .activity .activity-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.activity .activity-data{
    display: flex;
}
.activity-data .data{
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}
.activity-data .data-title{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}
.activity-data .data .data-list{
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    white-space: nowrap;
    color: var(--text-color);
}

.product-container {
  background-color: var(--panel-color) !important;
  transition: var(--tran-05) !important;
  color: var(--text-color) !important;
}

.actions { 
    height: 65px;
    display: flex;
    flex-direction: row;
}
.icons {
    padding: 0px 5px;
    cursor: pointer;
    font-size: 26px;
}

nav {
    display: flex;
    flex-direction: row;
}

nav div {
    display: flex;
    padding: 0px 5px;
}

.pagination-links {
    display: flex;
    padding: 20px;
    justify-content: flex-end;
}

.pagination {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0px 5px;
}

.page-item {
    padding: 0px 10px;
}

.page-item.disabled {
    opacity: 0.5;
}

.pagination .page-link.prev, 
.pagination .page-link.next {
    display: none;
}

input:read-only {
    color: rgb(179, 179, 179);
}

@media (max-width: 1000px) {
    .sidebar-nav{
        width: 73px;
    }
    .sidebar-nav.close{
        width: 250px;
    }
    .sidebar-nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    .sidebar-nav.close .logo_name{
        opacity: 1;
        pointer-events: auto;
    }
    .sidebar-nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    .sidebar-nav.close li a .link-name{
        opacity: 1;
        pointer-events: auto;
    }
    .sidebar-nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    .sidebar-nav.close ~ .dashboard{
        left: 250px;
        width: calc(100% - 250px);
    }
    .sidebar-nav ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }
    .sidebar-nav.close ~ .dashboard .top{
        left: 250px;
        width: calc(100% - 250px);
    }
    .activity .activity-data{
        overflow-X: scroll;
    }
}

@media (max-width: 780px) {
    .dash-content .boxes .box{
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
}
@media (max-width: 560px) {
    .dash-content .boxes .box{
        width: 100% ;
    }
}
@media (max-width: 400px) {
    .sidebar-nav{
        width: 0px;
    }
    .sidebar-nav.close{
        width: 73px;
    }
    .sidebar-nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    .sidebar-nav.close .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    .sidebar-nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    .sidebar-nav.close li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    .sidebar-nav ~ .dashboard{
        left: 0;
        width: 100%;
    }
    .sidebar-nav.close ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    .sidebar-nav ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
    .sidebar-nav.close ~ .dashboard .top{
 }
    .sidebar-nav.close ~ .dashboard .top{
        left: 0;
        width: 100%;
    }

    /* Media query for smaller screens */
@media (max-width: 560px) {
    .product-table {
        overflow-x: auto;
    }
}
}
